<% if comment[0].opinion_id.nil? %>
  <% css_class = 'my-1' %>
<% elsif comment[1] > 1 %>
  <% case comment[1] %>
  <% when 2 %>
    <% css_class = "mr-0 my-1 reply_width_2" %>
  <% when 3 %>
    <% css_class = "mr-0 my-1 reply_width_3" %>
  <% when 4 %>
    <% css_class = "mr-0 my-1 reply_width_4" %>
  <% when 5 %>
    <% css_class = "mr-0 my-1 reply_width_5" %>
  <% when 6 %>
    <% css_class = "mr-0 my-1 reply_width_6" %>
  <% when 7 %>
    <% css_class = "mr-0 my-1 reply_width_7" %>
  <% when 8 %>
    <% css_class = "mr-0 my-1 reply_width_8" %>
  <% when 9 %>
    <% css_class = "mr-0 my-1 reply_width_9" %>
  <% else %>
    <% css_class = "mr-0 my-1 reply_width_10" %>
  <% end %>
<% end %>

<div class="reply_align_right">
  <div class="container-fluid border rounded_corners <%= css_class %> comment_color">
    <em><%= l comment[0].created_at, format: :short %></em>

    <% if current_user %>
      | <%= comment[0].comment_email %> | <%= link_to 'X', article_comment_path(comment[0].article, comment[0]), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <% if comment[0].opinion_id == nil %>
      <div><%= comment[0].comment_body %></div>

    <% else %>
      <!-- <div class="quatation_general"> -->
      <div> <!-- Убрать этот див, если расскоментирован див выше -->
        <div class="quatation_header">
          <!-- <b><%#= t('views.comments.in_reply_to') %>:</b> <em><%#= comment[0].opinion.comment_body %></em> -->
        </div>
        <!-- <div class="quatation_bottom"> -->
        <%= comment[0].comment_body %>
        <!-- </div> -->
      </div>
    <% end %>

    <%= link_to t('views.comments.reply'), answer_comment_new_path(comment_id: comment[0].id, article_id: @article.id), class: 'btn btn-sm btn-secondary mb-1' %>
  </div>
</div>
