<%= form_with(model: [@article, @article.comments.build], local: true) do |form| %>

  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <b><%= t('views.comments.add_comment') %></b>
  </p>

  <div class="border my-2 rounded_corners">
    <div class="m-2">
      <div class="form-group">
        <%= form.label t('views.comments.email') %>
        <%= form.text_field :comment_email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label t('views.comments.comment') %>
        <%= form.text_area :comment_body, class: 'form-control' %>
      </div>

      <div>
        <%= recaptcha_tags %>
      </div>

      <div class="actions my-2">
        <%= form.submit t('views.comments.submit'), class: 'btn btn-sm btn-secondary' %>
      </div>
    </div>
  </div>
<% end %>
