<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('app.navbar.menu.admin_options'), nil], ['Посещения', nil] %>

<div class="container-lg bg-light cont_paddings">
  <div class="center mt-0 bg-light">
    <div>Уникальных посетителей за все время: <%= @all_visits_uniq %>.</div>
    <div>Повторных визитов за все время: <%= @all_visits_repeat %>.</div><br>

      <div id="graphs">
        <b>Посещение по месяцам</b>
        <%= column_chart(@visits_monthly, { theme: 'palette4', stacked: true,  animations: { enabled: false }}) %>

        <b>Посещение по странам</b>
        <%= pie_chart(@countries, legend: "left",  animations: { enabled: false }) %>

        <div class="center my-3">
          <%= select('', 'country_select', @countries.collect { |c| [ c[:name], c[:name] ] }, { prompt: '[Выберите страну]'}) %>
        </div>

        <b>Посещение по регионам выбранной страны</b>
        <%= bar_chart(@regions, legend: "left",  animations: { enabled: false }) %>

        <b>Посещение по городам выбранной страны</b>
        <%= bar_chart(@cities, legend: "left",  animations: { enabled: false }) %>
      </div>

  </div>
</div>

<script>
  $(function(){
    if (!$('#country_select').val()) {
      $('#country_select').val('<%= @chosen_country %>')
    }

  $('#graphs').on('change', '#country_select', function(){
    $.ajax({ url: '/show_visits', data: { 'chosen_country' : $('#country_select').val() }})
  });
});
</script>
