<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('app.navbar.menu.admin_options'), nil], [t('app.navbar.menu.visitors'), nil] %>

<div class="container cont_paddings col-sm-12 col-md-12">

  <table class="d-none d-lg-table table table-sm table-buffers-vertical table-font-my">
    <thead>
      <tr class="table-buffers-vertical">
        <th class="table-info table-buffers-vertical">Визит</th>
        <th class="table-info table-buffers-vertical">Страна</th>
        <th class="table-info table-buffers-vertical">Регион</th>
        <th class="table-info table-buffers-vertical">Город</th>
        <th class="table-info table-buffers-vertical">Страница</th>
        <th class="table-info table-buffers-vertical">Переход</th>
        <th class="table-info table-buffers-vertical">Система</th>
        <th class="table-info table-buffers-vertical">Экран</th>
        <th class="table-info table-buffers-vertical">Язык</th>
        <th class="table-info table-buffers-vertical">Час. пояс</th>
        <th class="table-info table-buffers-vertical">Координаты</th>
        <th class="table-info table-buffers-vertical">IP</th>
      </tr>
    </thead>
    <tbody>
      <% @visitors.each do |visitor| %>
        <tr class='<%= not_seen_visitors_class(new_visitors_ids: @new_visitors_ids, visitor: visitor) %>'>
          <td>
            <%= link_to(visitor.time_visited.strftime("%d.%m.%Y, %H:%M"), show_visitor_info_path(u_id: visitor.u_id)) %>
          </td>
          <td>            
            <%= visitor.country %>
          </td>
          <td>            
            <%= visitor.region %>
          </td>
          <td>            
            <%= visitor.city %>
          </td>
          <td>            
            <%= visitor.page_name.truncate(50) %>
          </td>
          <td>            
            <%= visitor&.referrer&.truncate(50) %>
          </td>
          <td>            
            <%= visitor.common_info %>
          </td>
          <td>            
            <%= visitor.size_screen_w %>x<%= visitor.size_screen_h %>
          </td>
          <td>            
            <%= visitor.browser_language %>
          </td>
          <td>            
            <%= visitor.timezone %>
          </td>
          <% coordinates_formatted = visitor.city_lat.present? && visitor.city_long.present? ? "#{ visitor.city_lat }, #{ visitor.city_long }" : nil %>
          <td>            
            <%= coordinates_formatted %>
          </td>
          <td>            
            <%= visitor.ip %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% @visitors.each do |visitor| %>
    <div class='d-block d-lg-none border rounded bg-body mb-1 mx-1 px-1 <%= new_visitor_bkg_class(new_visitors_ids: @new_visitors_ids, visitor: visitor) %>'>
      <h6 class="mt-1"><span class='form_font_color mt-1'>Визит:</span> <b><%= link_to(visitor.time_visited.strftime("%d.%m.%Y, %H:%M"), show_visitor_info_path(u_id: visitor.u_id)) %></b></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Страна: </span><%= visitor.country %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Регион: </span><%= visitor.region %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Город: </span><%= visitor.city %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Страница: </span><%= visitor.page_name.truncate(50) %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Переход: </span><%= visitor&.referrer&.truncate(50) %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Система: </span> <%= visitor.common_info %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Экран: </span><%= visitor.size_screen_w %>x<%= visitor.size_screen_h %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Язык: </span><%= visitor.browser_language %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>Час. пояс: </span><%= visitor.timezone %></h6>
      <% coordinates_formatted = visitor.city_lat.present? && visitor.city_long.present? ? "#{ visitor.city_lat }, #{ visitor.city_long }" : nil %>     
      <h6 class="mt-0"><span class='form_font_color mt-1'>Координаты: </span><%= coordinates_formatted %></h6>
      <h6 class="mt-0"><span class='form_font_color mt-1'>IP: </span><%= visitor.ip %></h6>
    </div>
  <% end %>

  <div class="container">
    <div class="d-flex justify-content-center">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
