<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('app.navbar.menu.admin_options'), nil], [t('app.navbar.menu.visitors'), nil] %>

<div class="container cont_paddings col-sm-12 col-md-12">

  <table class="table table-sm table-buffers-vertical table-font-my">
    <thead>
      <tr class="table-buffers-vertical">
        <th class="table-info table-buffers-vertical">Визит</th>
        <th class="table-info table-buffers-vertical">Страна</th>
        <th class="table-info table-buffers-vertical">Регион</th>
        <th class="table-info table-buffers-vertical">Город</th>
        <th class="table-info table-buffers-vertical">Страница</th>
        <th class="table-info table-buffers-vertical">Переход</th>
        <th class="table-info table-buffers-vertical">Система</th>
        <th class="table-info table-buffers-vertical">Экран</th>
        <th class="table-info table-buffers-vertical">Язык</th>
        <th class="table-info table-buffers-vertical">Час. пояс</th>
        <th class="table-info table-buffers-vertical">Координаты</th>
        <th class="table-info table-buffers-vertical">IP</th>
      </tr>
    </thead>
    <tbody>
      <% @visitors.each do |visitor| %>
        <tr class='<%= not_seen_visitors_class(new_visitors_ids: @new_visitors_ids, visitor: visitor) %>'>
          <td>
            <%= link_to(visitor.time_visited.strftime("%d.%m.%Y, %H:%M"), show_visitor_info_path(u_id: visitor.u_id)) %>
          </td>
          <td>            
            <%= visitor.country %>
          </td>
          <td>            
            <%= visitor.region %>
          </td>
          <td>            
            <%= visitor.city %>
          </td>
          <td>            
            <%= visitor.page_name.truncate(50) %>
          </td>
          <td>            
            <%= visitor&.referrer&.truncate(50) %>
          </td>
          <td>            
            <%= visitor.common_info %>
          </td>
          <td>            
            <%= visitor.size_screen_w %>x<%= visitor.size_screen_h %>
          </td>
          <td>            
            <%= visitor.browser_language %>
          </td>
          <td>            
            <%= visitor.timezone %>
          </td>
          <% coordinates_formatted = visitor.city_lat.present? && visitor.city_long.present? ? "#{ visitor.city_lat }, #{ visitor.city_long }" : nil %>
          <td>            
            <%= coordinates_formatted %>
          </td>
          <td>            
            <%= visitor.ip %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="container">
    <div class="d-flex justify-content-center">
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
