<h1 class="center text_size header_top_buffer"><%= t('views.articles.index.blog') %></h1>
<div class="container bg-light cont_height">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">

      <% if current_user %>
        <%= link_to t('views.articles.index.article.new'), new_article_path, class: 'btn btn-sm btn-primary mt-2' %>
      <% end %>
      
      <% @articles.each do |article| %>
        <div>
          <h2 class="mt-3 text_size"><%= link_to article.article_title, article, class: 'article_title_link' %></h2><br>

          <%= raw(article.article_body[0..53]) %><br>

          <%#= link_to t('views.articles.index.article.read'), article, class: 'btn btn-sm btn-secondary mt-2' %>
          <% if current_user %>
            <%= link_to t('views.articles.index.article.edit'), edit_article_path(article), class: 'btn btn-sm btn-primary mt-2' %>
            <%= link_to t('views.articles.index.article.destroy'), article, method: :delete, data: { confirm: t('views.articles.index.article.sure') }, class: 'btn btn-sm btn-danger mt-2' %>
          <% end %>

        </div>
        <div class="bottom_line_blog"></div>
      <% end %>
    </div>
  </div>
</div>
<div class="pagy-bottom-article pl-3 pl-md-4"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
