<h1 class="center text_size header_top_buffer"><%= t('views.articles.index.blog') %></h1>
<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">
      <h3 class="mt-0"><%= @article.article_title %></h3><br>

      <%= raw(@article.article_body) %><br>

      <%= link_to t('views.articles.show.back'), articles_path, class: 'btn btn-secondary my-3' %>

      <% if current_user %>
        <%= link_to 'Edit', edit_article_path(@article) %>
      <% end %>

    </div>
  </div>
</div>

<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">
      <% sorted_comments = CommentsHelper::CommentSort.new.sort_comments(@article.comments.except(@new_comment).where(opinion_id: nil), 1) %>

      <%= render partial: 'comments/comment', collection: sorted_comments %>

      <%= render partial: 'comments/form', locals: {comment: @new_comment || @article.comments.build}  %>
    </div>
  </div>
</div>
