<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('views.articles.index.header'), articles_path], [@article.article_title, nil] %>

<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">
      <h3 class="mt-0"><%= @article.article_title %></h3><br>

      <%= raw(@article.article_body) %><br>

      <%= link_to t('views.articles.show.back'), :back, class: 'btn btn-sm btn-secondary my-2' %>
  
      <% if current_user %>
        <%= link_to t('views.abouts.index.edit'), edit_article_path(@article), class: 'btn btn-sm btn-primary my-2' %>
        <%= link_to t('views.articles.index.article.destroy'), @article, method: :delete, data: { confirm: t('views.articles.index.article.sure') }, class: 'btn btn-sm btn-danger my-2' %>
      <% end %>
    </div>
  </div>
</div>

<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">
      <% sorted_comments = CommentsHelper::CommentSort.new.sort_comments(@article.comments.except(@new_comment).where(opinion_id: nil), 1) %>

      <%= render partial: 'comments/comment', collection: sorted_comments %>

      <%= render partial: 'comments/form', locals: {comment: @new_comment || @article.comments.build}  %>
    </div>
  </div>
</div>
