<% comment = Comment.where(id: @notification.comment_id).first %>

<h1 class="center text_size header_top_buffer"><%= t('app.navbar.menu.admin_notifications') %></h1>
<div class="container bg-light rounded">
  <div class="row mt-3">
    <div class="col-12 col-md-11">
      <div class='my-2'>
        <span class="badge badge-<%= notification_badge(kind: @notification.kind) %>">
          <%= t("activerecord.enums.admin_notification.kind.#{ @notification.kind }") %>
        </span>
      </div>
      <div class='form_font_color mt-3'>
        Дата:
      </div>
      <h6 class="mt-0"><%= @notification.created_at.strftime("%d.%m.%Y, %H:%M") %></h6>

      <% if @notification.message? %>
        <div class='form_font_color mt-3'>
          Email отправителя:
        </div>
        <h6 class="mt-0"><%= link_to @notification.email_from, "mailto:#{ @notification.email_from }" %></h6>
        <div class='form_font_color mt-3'>
          Сообщение:
        </div>
        <h6 class="mt-0"><%= @notification.message %></h6>
      <% elsif @notification.comment? %>
        <div class='form_font_color mt-3'>
          Email отправителя:
        </div>
        <h6 class="mt-0"><%= comment&.comment_email %></h6>
        <div class='form_font_color mt-3'>
          Комментарий:
        </div>
        <h6 class="mt-0"><%= comment.comment_body %></h6>
        <div class='form_font_color mt-3'>
          Ссылка на блог:
        </div>
        <% article = Article.where(id: comment.article_id).first %>
        <h6 class="mt-0"><%= link_to(article.article_title, article_url(article, anchor: 'comments'), target: "_blank") %></h6>
      <% elsif @notification.comment_answer? %>
        <div class='form_font_color mt-3'>
          Email отправителя:
        </div>
        <h6 class="mt-0"><%= comment&.comment_email %></h6>
        <div class='form_font_color mt-3'>
          Комментарий:
        </div>
        <h6 class="mt-0"><%= comment.comment_body %></h6>
        <div class='form_font_color mt-3'>
          В ответ на:
        </div>
        <% initial_comment = Comment.where(id: comment.opinion_id).first %>
        <h6 class="mt-0"><%= initial_comment.comment_body %></h6>
        <div class='form_font_color mt-3'>
          Ссылка на блог:
        </div>
        <% article = Article.where(id: comment.article_id).first %>
        <h6 class="mt-0"><%= link_to(article.article_title, article_url(article, anchor: 'comments'), target: "_blank") %></h6>
      <% end %>

      <%= link_to t('views.articles.index.article.destroy'), @notification, method: :delete, data: { confirm: t('views.articles.index.article.sure') }, class: 'btn btn-sm btn-danger my-2' %>
      <%= link_to t('views.abouts.edit.back'), admin_notifications_path, class: 'btn btn-sm btn-secondary my-2' %>
    </div>
  </div>
</div>
