<%= form_for feedback, url: feedback_page_send_path do |form| %>

  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mt-3">
    <%= form.label t('models.feedback.feedback_email') %>
    <%= form.text_field :feedback_email, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label t('models.feedback.feedback_body') %>
    <%= form.text_area :feedback_body, placeholder: t('views.feedback.body_placeholder'), class: 'form-control my_height' %>
  </div>

  <div class="mb-3">
    <%= recaptcha_tags %>
  </div>

  <div class="actions mb-3">
    <%= form.submit t('views.feedback.send'), class: 'btn btn-sm btn-success' %>
  </div>
<% end %>
