<%= breadcrumbs [t('views.home.announces.header'), nil] %>

<div class="container bg-light cont_height rounded_corners">
  <div class="row mt-3">
    <div class="col-sm-6 col-md-6">

      <% @announces.each_with_index do |announce, i| %>
        <% i == 0 ? mt5 = '' : mt5 = 'mt-5' %>
        <div class='announce_photo mx-auto <%= mt5 %>'>
          <div class='announce_dt'><%= announce.created_at.strftime("%d.%m.%Y") %></div>

          <% if announce.is_a?(Article) %>
        <div class="container rounded_corners px-0">
          <a class='article_title_link' href='<%= article_path(announce) %>' title='<%= t("views.articles.index.article.read") %>'>
            <h2 class="mt-3 text_size"><%= announce.article_title %></h2>

            <% if announce.announce.present? %>
              <%= raw(announce.announce) %>...<br>
            <% else %>
              <%= raw(announce.article_body[0..53]) %><br>
            <% end %>
          </a>
        </div>
          <% elsif announce.is_a?(Photo) %>
            <% category = t("app.navbar.menu.drop_down.#{ announce.type.photo_type }") %>

            <h2 class="mt-3 text_size"><%= link_to announce.description, public_send("#{ announce.type.photo_type }_page_path"), class: 'article_title_link', title: "#{t('views.home.to_photo_category')} '#{category}'" %></h2>

            <% if !announce.lat.nil? && announce.lat.length > 0 %>
              <div class='announce_image'>
                <%= link_to(image_pack_tag("gps.png", alt: 'feed', class: 'gps_img', title: t('views.photos.universal_page.has_coordinates')), map_path(photo_id: announce), target: "blanc", rel: "noreferrer") %>
              </div>
            <% end %>

            <%= link_to public_send("#{ announce.type.photo_type }_page_path"), title: "#{t('views.home.to_photo_category')} '#{category}'" do %>
              <%= image_tag announce.photo.thumb.url, class: 'rounded_corners' %>
            <% end %>

          <% end %>
        </div>
        <% if i+1 != @announces.size %>
          <div class="bottom_line mx-auto"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="pagy-bottom-article"><%== pagy_nav(@pagy) if @pagy.pages > 1 %></div>
