<%= breadcrumbs [t('views.home.announces.header'), nil] %>

<div class="container cont_height rounded_corners mobile_font_size main_bg_color">
  <div class="row mt-3">
    <div class="col-12 col-md-10 px-1">

      <% @announces.each_with_index do |announce, i| %>
        <% i == 0 ? mt5 = '' : mt5 = 'mt-5' %>
        <div class='col-12 col-lg-8 col-xl-6 mx-auto px-0 <%= mt5 %>'>
          <div class='announce_dt'><%= announce.created_at.strftime("%d.%m.%Y") %></div>

          <% if announce.is_a?(Article) %>
            <div class="container rounded_corners px-0">
              <a class='article_title_link' href='<%= article_path(announce) %>' title='<%= t("views.articles.index.article.read") %>'>
                <div class="d-flex justify-content-between align-items-start">
                  <h5 class="mt-3 text_size"><%= announce.article_title %></h5>
                  <div class="rotated-element"><%= t("views.announces.article_badge") %></div>
                </div>

                <% if announce.announce.present? %>
                  <%= raw(announce.announce) %>...<br>
                <% else %>
                  <%= raw(announce.article_body[0..53]) %><br>
                <% end %>
              </a>

              <% if announce.hashtags.any? %>
                <%= render 'hashtags/hashtags_list', entity: announce %>
              <% end %>

              <% if i + 1 != @announces.size %>
                <div class="bottom_line"></div>
              <% else %>
                <div class="mb-3"></div>
              <% end %>
            </div>
          <% elsif announce.is_a?(Photo) %>
            <% category = t("app.navbar.menu.drop_down.#{ announce.type.photo_type }") %>

            <h5 class="mt-3 text_size"><%= link_to announce.description, photo_path(announce), class: 'article_title_link', title: announce.description %></h5>

            <% if announce.lat.present? %>
              <div class='announce_image'>
                <%= link_to(image_pack_tag("gps.png", alt: 'gps_img', class: 'gps_img', title: t('views.photos.universal_page.has_coordinates')), map_path(photo_id: announce), target: "blanc", rel: "noreferrer") %>
              </div>
            <% end %>

            <%= link_to photo_path(announce), title: announce.description do %>
              <%= image_tag announce.photo.thumb.url, class: 'announce_photo_img rounded_corners' %>
            <% end %>

            <% if announce.body.present? %>
              <div class="mt-1"><%= announce.body %></div>
            <% end %>

            <% if announce.hashtags.any? %>
              <%= render 'hashtags/hashtags_list', entity: announce %>
            <% end %>

            <% if i + 1 != @announces.size %>
              <div class="bottom_line"></div>
            <% else %>
              <div class="mb-3"></div>
            <% end %>

          <% end %>
        </div>

      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-center">
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.photo').each(function() {
      let img = new Image();
      let originalImage = $(this);
      
      img.onload = function() {
        if (this.height > this.width) {
          originalImage.addClass('height_and_width');
        }
      };

      img.src = originalImage.attr('src');
    });
  });
</script>
