<h1 class="center text_size header_top_buffer"><%= t('views.searching.title') %></h1>
<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-12 col-md-8">

      <% if @results.present? %>
        <div class="col-12 text-center">
          <%= t('views.searching.found') %>: <%= @results.size %>
        </div>

        <div class="row bg-white mt-1 mb-3 px-3 py-2">
          <div>
            <% @results.each do |result| %>
              <% if result.is_a?(Article) %>
                <div><%= link_to result.article_title, article_path(result[:id]) %></div> 
              <% elsif result.is_a?(Photo) %>
                <div><%= link_to result.description, photo_path(result[:id]) %></div>
              <% elsif result.is_a?(About) %>
                <div><%= link_to t('views.abouts.show.title'), about_path(result[:id]) %></div> 
              <% end %>
            <% end %>
          </div>
        </div>
      <% elsif @results %>
        <h4 class="center mt-2"><%= t('views.searching.no_results') %></h4>
      <% end %>

    </div>
  </div>
</div>
