<h1 class="center text_size header_top_buffer mt-5 mb-1"><%= t('views.abouts.portfolio.title') %></h1>
<h5 class="center text_size header_top_buffer mb-5"><%= t('views.abouts.portfolio.title2') %></h5>
<div class="container mb-5">
  <div class="row mt-3 justify-content-end">

    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <% folder_name = 'arhtextile' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "dark") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Arhtextile
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-2 pt-md-5 pt-3">
      <% folder_name = 'kukumberryx' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "light") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Kukumberryx
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-2 pt-3">
      <% folder_name = 'trainings' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "light") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Trainings
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-6 pt-md-5 pt-3">
      <% folder_name = 'cloud' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "dark", label: "Private Cloud") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Private Cloud
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-10 col-lg-4 mb-2 mt-md-5 mt-lg-0 pt-3">
      <% folder_name = 'landing' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "light", label: "Photo course landing") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Photo course landing
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

  </div>

  <div class="row mt-3 justify-content-start">

    <div class="col-12 col-md-6 pt-3">
      <% folder_name = 'photosite' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "dark", label: "Photosite") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Photosite
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>
    <div class="col-12 col-md-6 mb-2 mt-md-5 pt-3">
      <% folder_name = 'medanketa' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "dark", label: "Medical Questionnaire") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Medical Questionnaire
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

  </div>

  <div class="row mt-3 justify-content-start">

    <div class="col-12 col-md-6 col-lg-5">
      <% folder_name = 'askme' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "light") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Askme
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

    <div class="d-none d-lg-block col-lg-2"></div>

    <div class="col-12 col-md-6 col-lg-5 mb-2 pt-md-5 pt-3">
      <% folder_name = 'bbq' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "dark") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            BBQ
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-4 col-lg-3 ml-2 pt-3">
      <% folder_name = 'weather bot' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "light") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Weather bot
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image-vert" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-md-5 col-lg-4 mb-2 pt-3">
      <% folder_name = 'ozon bot' %>
      <a href='<%= portfolio_case_path(images_path: folder_name, bg_color: "light") %>' class='copyright'>
        <div class="row">
          <div class="col-1 px-0 vertical_text">
            Ozon bot
          </div>
          <div class="col-11 pl-1">
            <img class="responsive-image" src='<%= "/portfolio/#{ folder_name }/thumb.png" %>' alt='screenshot'>
          </div>
        </div>
      </a>
    </div>

  </div>

</div>

<script>
  $(document).ready(function() {
      let resizeTimer;

      $(window).on('resize', function() {
          // Добавляем класс .resizing при изменении размера окна
          $('body').addClass('resizing');

          // Очищаем таймер, если он уже был установлен
          clearTimeout(resizeTimer);

          // Убираем класс .resizing через 500 мс (время должно совпадать с длительностью перехода в CSS)
          resizeTimer = setTimeout(function() {
              $('body').removeClass('resizing');
          }, 500);
      });
  });
</script>
