<div class="container box_shadow p-1 p-md-2 mt-md-2 mb-3 bg-muted rounded div_container">

  <div class="col offset-xl-1 col-xl-10">
    <div class="row">
      <div class="col col-sm-8 col-md-4 col-xl-4 col-info">

        <div class="row photo_left">
          <%= image_pack_tag("cv/my_photo.jpg", alt: 'menu', class: 'img_mobile photo_borders') %>
        </div>
        <div class="row">
          <div class="col-12 info-contact-col-2 pt-3 text-about-me-2">
            <b>Dmitry Arkhipov</b>
          </div>
        </div>
        <div class="row">
          <div class="col-12 info-contact-col-2 text-about-me-developer">
            <b>Full-stack developer</b>
          </div>
        </div>
        <div class="row mt-2 mt-md-4">
          <div class="col-12 info-contact-col-2 text-about-me">
            <p>
              <b>Contacts:</b>
              <a href="mailto:mail@dack9.ru" class="logo-link" rel="noopener noreferrer" target="_blank">
                <%= image_pack_tag("cv/mail_logo.png", alt: 'email_logo', class: 'logo_email', title: 'Email') %>
              </a>

              <a href="https://github.com/dmentry" class="logo-link" rel="noopener noreferrer" target="_blank">
                <%= image_pack_tag("cv/gh_logo.png", alt: 'gh_logo', class: 'logo_email', title: 'GitHub') %>
              </a>
              <a href="https://t.me/Dack99" class="logo-link" rel="noopener noreferrer" target="_blank">
                <%= image_pack_tag("cv/teleg_logo.png", alt: 'tg_logo', class: 'logo_email', title: 'Telegram') %>
              </a>
            </p>
          </div>
        </div>

      </div>

      <div class="col-md-8 col-lg-8 scroll_div_wrapper">
        <div class="scroll_div">

          <div class="row bg-white px-2 rounded-sm">
            <div class="col-12 pt-3 text-secondary int-info">
              <h3 class="bottom-line">Skills</h3>
              <ul class="list-skills mb-2">
                <li class="list-list">

                  <h5 class="skills-title">Ruby</h5>
                  <ul>
                    <li><strong>OOP, classes:</strong> OOP principles understanding, code style importance, incapsulation princeples, inheritance, polymorphism, abstractions</li>
                    <li><strong>Ruby installation:</strong> <span class="badge badge-secondary">rvm</span> or <span class="badge badge-secondary">rbenv</span> usage</li>
                    <li><strong>Formats usage:</strong> XML, JSON, XLS, XLSX, DOC</li>
                  </ul>
                  <li class="list-list">

                  <h5 class="skills-title">Ruby on Rails</h5>
                  <ul>
                    <li><strong>Application initial architecture:</strong> set the task correctly, create entities, write scripts and create CRUD</li>
                    <li><strong>MVC:</strong> application architecture basement</li>
                    <li><strong>Active Record:</strong> associations between models creation, perform database operations in an object-oriented fashion, migrations creating, validations writing</li>
                    <li><strong>Main gems:</strong> <span class="badge badge-secondary">Devise</span>, <span class="badge badge-secondary">Cancancan</span>, <span class="badge badge-secondary">Pandit</span>, <span class="badge badge-secondary">OmniAuth</span>, <span class="badge badge-secondary">Ransack</span>, <span class="badge badge-secondary">CarrierWave</span>, <span class="badge badge-secondary">Rmagick</span>, <span class="badge badge-secondary">fog-aws</span>, <span class="badge badge-secondary">StateMachines</span>, <span class="badge badge-secondary">Recaptcha</span>, <span class="badge badge-secondary">write_xlsx</span></li>
                    <li><strong>Rake</strong> tasks with <span class="badge badge-secondary">cron</span></li>
                  </ul>
                  <li class="list-list">

                  <h5 class="skills-title">Testing</h5>
                  <ul>
                    <li><strong>RSpec:</strong> TDD, BDD, create tests for the whole main code if possible. Unit testing, Integration testing. Used <span class="badge badge-secondary">FactoryBot</span> gem. <span class="badge badge-secondary">Capybara</span> for integration tests.</li>
                  </ul>
                  <li class="list-list">

                  <h5 class="skills-title">DB</h5>
                  <ul>
                    <li><strong>SQLite</strong>, <strong>MySQL</strong>, <strong>PostgreSQL</strong>, <strong>Redis</strong> usage. Queries with <strong>SQL</strong>, <strong>PL/pgSQL</strong>, <strong>Active Record query interface</strong>.</li>
                  </ul>
                  <li class="list-list">

                  <h5 class="skills-title">Deploy</h5>
                  <ul>
                    <li><strong>Linux</strong> safety initial setup (<strong>ufw</strong>/<strong>iptables</strong> + <strong>fail2ban</strong>, ssh, etc)</li>
                    <li><strong>Nginx</strong> + <strong>Phusion Passenger</strong> + <strong>PostgreSQL</strong> setup</li>
                    <li>Rails application deploy with <span class="badge badge-secondary">Capistrano</span></li>
                    <li><strong>Heroku: </strong>application deploy</li>
                  </ul>
                  <li class="list-list">

                  <h5 class="skills-title">Technologies</h5>
                  <ul>
                    <li><strong>Git, Github</strong></li>
                    <li><strong>Ubuntu (Linux Mint)</strong>, <strong>Linux Astra</strong></li>
                    <li><strong>RubyMine, SublimeText</strong></li>
                    <li><strong>Docker</strong> (run/stop containers, Dockerfile and docker-compose.yml minimal editing)</li>
                    <li><strong>AWS S3</strong> (beginner level)</li>
                    <li><strong>Telegram</strong> bots creation</li>
                  </ul>
                  <li class="list-list">

                  <h5 class="skills-title">Frontend</h5>
                  <ul>
                    <li><strong>HTML, CSS, Bootstrap4/5, Slim, JS, jQuery, ExtJS</strong></li>
                  </ul>
                  <li class="list-list">

                  <h5 class="skills-title">Foreign language</h5>
                  <ul>
                    <li><strong>English:</strong> Intermediate</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <div class="row box-shadow mt-2 px-2 bg-white rounded-sm">
            <div class="col-12 pt-3 text-secondary int-info">
              <h3 class="bottom-line">Work experience</h3>
              <a class="text-info" href="https://mednet.ru/en" rel="noopener noreferrer" target="_blank">Russian Research Institute of Health (Ministry of Health)</a>
              <div>Software engineer</div>
              <ul>
              <li class="list-text-about"> - New web applications development (frontend, backend)</li>
              <li class="list-text-about"> - Add new features, change existing code, bugs fix in existing applications</li>
              <div>07.2021 &ndash; Present</div>
              </ul>
              <a class="text-info" href="https://www.mazda.ru" rel="noopener noreferrer" target="_blank">LLC &laquo;Mazda Motor Rus&raquo;</a>
              <div>Quality assurance coordinator</div>
              <ul>
              <li class="list-text-about"> - Ruby scripts</li>
              <li class="list-text-about"> - Ruby and Ruby on Rails applications creation for internal needs (xls, docx: parsing, changing, reports creation)</li>
              <div>05.2015 &ndash; 07.2021</div>
              </ul>
              <div>Warranty specialist</div>
              <ul>
                <li class="list-text-about"> - Ruby scripts</li>
                <li class="list-text-about"> - MS Access DB creation, Excel macroses</li>
                <div>03.2008 &ndash; 05.2015</div>
              </ul>
              <a class="text-info" href="https://business-car.ru" rel="noopener noreferrer" target="_blank">LLC JV &laquo;Business Car&raquo;</a>
              <div>Warranty Engineer</div>
              <ul>
                <li class="list-text-about"> - MS Access and Excel for reporting</li>
                <li class="list-text-about"> - Reports and macroses creation</li>
                <div>11.2006 &ndash; 03.2008</div>
              </ul>
              <div>Diagnostician</div>
              <ul>
                <li class="list-text-about"> - Installation of a wide range of electronic devices</li>
                <li class="list-text-about">- Diagnosis (using original diagnostic equipment Intelligent Tester I and II), repair of electrical systems</li>
                <div>06.2002 &ndash; 11.2006</div>
              </ul>
              <a class="text-info" href="https://ru.wikipedia.org/wiki/%D0%98%D0%B4%D1%83%D1%89%D0%B8%D0%B5_%D0%B2%D0%BC%D0%B5%D1%81%D1%82%D0%B5" rel="noopener noreferrer" target="_blank">РОО СВМ &laquo;Идущие вместе&raquo;</a>
              <ul class='mb-2'>
                <li class="list-text-about"> - IT helpdesk</li>
                <li class="list-text-about"> - MS Access DB creation, Excel macroses</li>
                <div>02.2001 &ndash; 11.2001</div>
              </ul>
            </div>
          </div>

          <div class="row box-shadow mt-2 px-2 bg-white rounded-sm">
            <div class="col-12 pt-3 text-secondary int-info">
              <h3 class="bottom-line">Portfolio</h3>
              <%= link_to 'Follow', portfolio_path, class: 'btn btn-primary my-2', rel: "noopener noreferrer", target: "_blank",  title: "Portfolio"%>
            </div>
          </div>

          <div class="row box-shadow mt-2 px-2 bg-white rounded-sm">
            <div class="col-12 pt-3 text-secondary int-info mb-2">
              <h3 class="bottom-line">Courses</h3>
              <a class="text-info" href="https://stepik.org/course/63054/syllabus" rel="noopener noreferrer" target="_blank">Far Eastern Federal University</a>
              <div>Course: &laquo;SQL interactive course&raquo;<br>09.2022 &ndash; 11.2022</div>
              <br>
              <a class="text-info" href="https://goodprogrammer.ru" rel="noopener noreferrer" target="_blank">Good programmer</a>
              <div>Course: &laquo;Online Ruby on Rails workshop&raquo;<br>09.2020 &ndash; 03.2021</div>
            </div>
          </div>

          <div class="row box-shadow mt-2 px-2 bg-white rounded-sm">
            <div class="col-12 pt-3 text-secondary int-info mb-2">
              <h3 class="bottom-line">Higher education</h3>
              <a class="text-info" href="https://new.mospolytech.ru" rel="noopener noreferrer" target="_blank">Moscow State Technical University (MAMI)</a>
              <div>Mechanic engineering faculty</div>
            </div>
          </div>

          <div class="row box-shadow mt-2 px-2 bg-white rounded-sm">
            <div class="col-12 pt-3 text-secondary int-info mb-2">
              <h3 class="bottom-line">About</h3>
              <div>Open mind person who is always ready for negotiating and to hear for advises from more experiensed colleagues. Goal-oriented, dutiful, accurate.
              <br>Hobby: <a href="https://dack9.ru/en/macro_page" rel="noopener noreferrer" target="_blank" class="text-info" title="Open">macrophotography</a>.</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
