<h1 class="center text_size header_top_buffer"><%= t('views.chatbot_questions.edit_header') %></h1>
<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-sm-12 col-md-10">
      <%= form_with(model: @chat_bot_question, local: true, url: chat_bot_topic_chat_bot_question_path) do |form| %>
        <% if @chat_bot_question.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@chat_bot_question.errors.count, "error") %> prohibited this photo from being saved:</h2>
            <ul>
              <% @chat_bot_question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= form.label t('models.chatbot_question.order') %>
          <%= form.text_field :order, class: 'form-control' %>
        </div>

        <div class="form-group mt-3">
          <%= form.label t('models.chatbot_question.body_ru') %>
          <%= form.text_field :body_ru, class: 'form-control' %>
        </div>

        <div class="form-group mt-3">
          <%= form.label t('models.chatbot_question.body_en') %>
          <%= form.text_field :body_en, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label t('models.chatbot_question.next_id') %>
          <%= form.text_field :next_id, class: 'form-control' %>
        </div>

        <div class="actions">
          <%= form.submit t('views.photos.form.save'), class: 'btn btn-sm btn-info mb-2' %>

          <%= link_to t('views.photos.show.back'), chat_bot_topic_chat_bot_questions_path(@chat_bot_topic), class: 'btn btn-sm btn-secondary mb-2' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
