<%= form_with(model: photo, local: true, html: {multipart: true}) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--   <div class="form-group">
    <%#= form.label :photo %>
    <%#= form.text_field :photo, class: 'form-control' %>
  </div> -->

<div>
  <% if photo.created_at %>
    Загружена: <%= photo.created_at %>
  <% end %>
</div><br/>

  <div class="form-group">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
      <%= form.label :type_id %><br/>
      <%= form.collection_select :type_id, Type.all, :id, :photo_type %>
  </div>

  <div class="actions">
    <%= form.submit 'Сохранить', class: 'btn btn-primary' %>
  </div>
<% end %>
