<%= form_with(model: photo, local: true, html: { multipart: true }) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>
      <ul>
        <% photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <% if photo.created_at %>
      <%= "#{ t('views.photos.form.uploaded') }: #{ l(photo.created_at, format: "%d.%m.%Y, %H:%M") }" %>
    <% end %>
  </div><br/>

  <div class="form-group">
    <%= form.label t('models.photo.photo') %>
    <%= form.file_field :photo %>
  </div>

  <div class="form-group mt-3">
    <%= form.label t('models.photo.description_ru') %>
    <%= form.text_field :description_ru, class: 'form-control' %>
  </div>

  <div class="form-group mt-3">
    <%= form.label t('models.photo.description_en') %>
    <%= form.text_field :description_en, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label t('models.photo.type_id') %><br/>
    <%= form.collection_select :type_id, Type.all, :id, :translated_name %>
  </div>

  <div class="form-group">
    <%= form.label 'Координаты одной строкой через запятую' %>
    <%= form.text_field :one_string_coordinates, class: 'form-control' %>
  </div>

<!--   <div class="form-group">
    <%= form.label t('models.photo.lat') %>
    <%= form.text_field :lat, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label t('models.photo.long') %>
    <%= form.text_field :long, class: 'form-control' %>
  </div> -->

  <div class="actions">
    <%= form.submit t('views.photos.form.save'), class: 'btn btn-secondary' %>
  </div>
<% end %>
