<h1 class="center">Обо мне</h1>
<div class="container bg-light">
  <div class="row mt-3">
    <div class="col-lg-3 order-lg-2 text-left mt-1 dackbottomicons">
      Принимаю заказы на проведение фотосессий:<br> портретная съемка, предметная, макро.<br><br> По вопросам сотрудничества со мной можно связаться:<br>
      <%= link_to image_pack_tag("vk.png", alt: 'vk'), "https://vk.com/dack9", target: "blanc", rel: "noreferrer", title: "VK" %>
      <%= link_to image_pack_tag("telegram.png", alt: 'telegram'), "https://t.me/Dack99", target: "blanc", rel: "noreferrer", title: "Telegram" %><br>
      Я на других ресурсах:<br>
      <%= link_to image_pack_tag("instagram.png", alt: 'instagram'), "https://www.instagram.com/dack9/", target: "blanc", rel: "noreferrer", title: "Instagram" %>
      <%= link_to image_pack_tag("deviant.png", alt: 'deviantart'), "https://www.deviantart.com/dack99", target: "blanc", rel: "noreferrer", title: "Deviantart" %>
      <%= link_to image_pack_tag("pikabu.png", alt: 'pikabu'), "https://pikabu.ru/@Dack9", target: "blanc", rel: "noreferrer", title: "Pikabu" %>
      <%= link_to image_pack_tag("500px.png", alt: '500px'), "https://d-a-ck9.livejournal.com/", target: "blanc", rel: "noreferrer", title: "500px" %>
      <%= link_to image_pack_tag("35photo.png", alt: '35photo'), "https://35photo.pro/dack9", target: "blanc", rel: "noreferrer", title: "35photo" %>
    </div>

    <div class="col-lg-8 order-lg-1">
      <div class="row">
        <div class="col mt-2">
          <%= image_pack_tag("Me_3.jpg", alt: 'me', class: 'img-fluid float-left mx-1') %>
        </div>
        <div class="mx-3 text-left">
          Приветствую!<br>
          Меня зовут Дмитрий, я фотограф. Кратко обо мне:<br>
          сколько себя помню - в нашей семье всегда присутствовали фотоаппараты - у дедушки был ФЭД-2, у папы - Зоркий-4к. Пристрастившись к таинству темной комнаты: начиная с зарядки пленки в кассету и заканчивая печатью фотографий на фотоувеличителе, захотел и сам научиться останавливать понравившееся мгновение. Начал со Смены-8М, потом перешел на ФЭД и Зоркий. Фотографировал на черно-белую пленку, сам проявлял и печатал фотографии. На этот процесс уходила почти вся ночь. До сих пор помню то волнение и предвкушение чуда, которое сопровождало меня в выходной день, когда я стеклянной палочкой размешивал растворы, чтобы сотворить химическую магию и увидеть результат своих трудов. А когда перешел в 6 класс, в нашем городке открылась фотостудия для детей. Естественно, что я просто побежал туда. Преподавателем был замечательный человек и профессиональный фотограф Борис Васильевич Чигишев - известный своими портретами знаменитостей. У него был настоящий педагогический талант: ни один ребенок, который к нему пришел, не перестал ходить в фотостудию. Там я узнал теоретические основы фотографии, композиционные правила и пристрастился к искусству.<br>
          В 1997 поступил в университет и покинул отчий дом, но любимое хобби не забросил, продолжил фотографировать. А в 2004 году у меня появилась первая цифровая камера - цифромыльница Canon PowerShot A80. Так я открыл для себя мир цифрового изображения и графических редакторов. С тех пор на пленку снимаю для души. Для всего же остального есть цифровая зеркальная камера, телефон и квадрокоптер. Предпочитаю делать макрофотографии, искать интересные пейзажи и снимать в портретном жанре. В соответствующих разделах сайта я размещаю снимки. В блоге понемногу выкладываю свои статьи на околофотографические темы.
          В сети мой ник <a href="https://www.google.com/search?q=Dack9" target="_blanc" rel="noreferrer" title="">Dack9</a>. Также, можно посмотреть некоторые из моих <a href="#">достижений</a>.
        </div>
      </div>
    </div>
  </div>
</div>
