<%= breadcrumbs [t('views.home.announces.header'), root_path], [t('app.navbar.menu.admin_options'), nil], [t('views.chatbots.index.header'), nil] %>

<div class="container bg-light cont_height">
  <div class="row mt-3">
    <div class="col-sm-12">

      <%= link_to t('views.chatbots.new.header'), new_chat_bot_topic_path, class: 'btn btn-sm btn-primary my-2' %>

      <div class="bottom_line_chat_bot"></div>
      <div class="row">
        <div class="col-9 mt-3 text_size_smaller"><%= t('views.chatbots.index.table_topic') %></div>
        <div class="col-3 mt-3 text_size_smaller"><%= t('views.chatbots.index.table_is_shown') %></div>
      </div>
      <div class="bottom_line_chat_bot"></div>

      <% @chat_bot_topics.each do |topic| %>
        <div class="row">
          <div class="col-9 mt-3 text_size_smaller"><%= topic.label %></div>
          <div class="col-3 mt-3 text_size_smaller"><%= topic.show_order || '-' %></div>

          <div class="col-12 actions_left">
            <%= link_to t('views.chatbots.questions'), chat_bot_topic_chat_bot_questions_path(topic.id), class: 'btn btn-sm btn-success mt-2' %>
            <%= link_to t('views.articles.index.article.edit'), edit_chat_bot_topic_path(topic), class: 'btn btn-sm btn-primary mt-2' %>
            <%= link_to t('views.articles.index.article.destroy'), topic, method: :delete, data: { confirm: t('views.articles.index.article.sure') }, class: 'btn btn-sm btn-danger mt-2' %>
          </div>

        </div>
        <div class="bottom_line_chat_bot mb-2"></div>
      <% end %>
    </div>
  </div>
</div>
