<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= t('app.tab') %></title>

    <meta name="robots" content="index, follow">
    <meta name="description" content="Персональный сайт фотографа Дмитрия Dack9 Архипова. Сотрудничество: фотосессии и фотосъемка (макро, предметная)">
    <meta name="keywords" content="dack9, фотограф, макрофотография, фотосессия, macro, macrophoto">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="author" content="Дмитрий Архипов aka Dack9">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_pack_tag 'favicon.ico' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" integrity="sha512-YibiFIKqwi6sZFfPm5HNHQYemJwFbyyYHjrr3UT+VobMt/YBo1kBxgui5RWc4C3B4RJMYCdCAJkbXHt+irKfSA==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />

    <script src="https://api-maps.yandex.ru/2.1/?apikey=ab33258f-6d87-46fb-a6ff-1abfee8edeb5&lang=ru_RU" type="text/javascript"></script>
  </head>

  <body>

    <div id="collapseMenu" class="collapse d-lg-block">
      <div class="navbar navbar-expand-lg navbar-light bg-light navbar-static-top">
        <div class="container-fluid">
          <div class="navbar navbar-responsive logo_my_class">
            <%= image_pack_tag("logo.png", alt: 'logo', class: 'mt-0 logo') %>
              <ul class="navbar-nav">
                <%= link_to t('app.navbar.logo_name'), root_path, class: 'btn bg-light', title: t('app.navbar.logo_name_caption') %>
              </ul>
          </div>
          <div class="navbar navbar-responsive d-md-block">
            <ul class="navbar-nav">
              <li class="dropdown">
                <button type="button" class="btn dropdown-toggle drop_down_button_my my_font_size remove_padding bg-light" data-toggle="dropdown"><%= t('app.navbar.menu.drop_down.photos') %></button>
                <div class="dropdown-menu my_control my_font_size mobile_bg_light" aria-labelledby="dropdownMenuButton">

                  <div class="dropdown-item my_dropdown_item remove_padding bg-light photos_category_item">Категории фотографий</div>
                  <% if current_user %>
                    <%=link_to t('app.navbar.menu.drop_down.all'), all_page_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                    <%=link_to t('app.navbar.menu.drop_down.photohosting'), photohosting_page_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                  <% end %>

                  <%= link_to t('app.navbar.menu.drop_down.recent'), root_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                  <%= link_to t('app.navbar.menu.drop_down.macro'), macro_page_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                  <%= link_to t('app.navbar.menu.drop_down.landscape'), landscape_page_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                  <%= link_to t('app.navbar.menu.drop_down.portrait'), portrait_page_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                  <%= link_to t('app.navbar.menu.drop_down.drone'), drone_page_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                  <%= link_to t('app.navbar.menu.drop_down.collage'), collage_page_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                  <%= link_to t('app.navbar.menu.drop_down.other'), other_page_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                </div>
              </li>
              <li> <%= link_to t('app.navbar.menu.blog'), articles_path, class: "btn my_font_size remove_padding" %> </li>
              <li> <%= link_to t('app.navbar.menu.map'), map_path, class: "btn my_font_size remove_padding" %> </li>
              <li> <%= link_to t('app.navbar.menu.about'), about_path(About.first.id), class: "btn my_font_size remove_padding" %> </li>
              <li> <%= link_to t('app.navbar.menu.feedback'), feedback_page_path, class: "btn my_font_size remove_padding" %> </li>

              <% if current_user %>
                <li class="dropdown">
                  <button type="button" class="btn dropdown-toggle drop_down_button_my my_font_size remove_padding bg-light" data-toggle="dropdown">Опции админа</button>
                  <div class="dropdown-menu my_control my_font_size mobile_bg_light" aria-labelledby="dropdownMenuButton">
                    <%= link_to t('app.navbar.menu.load_photo'), new_photo_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                    <%= link_to 'Посетители', show_visitors_info_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                    <%= link_to 'Визиты', show_visits_path, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                    <%= link_to t('app.navbar.menu.profile'), current_user, class: "dropdown-item my_dropdown_item remove_padding bg-light" %>
                  </div>
                </li>
                <li> <%= link_to t('app.navbar.menu.exit'), destroy_user_session_path, :method => :delete, class: "btn my_font_size remove_padding" %> </li>
              <% else %>

                <li> <%= link_to t('app.navbar.menu.admin'), new_user_session_path, class: "btn my_font_size remove_padding" %> </li>
              <% end %>

              <% if params[:locale] == 'ru' || params[:locale] == nil %>
                <% locale_class_eng = '' %>
                <% locale_class_ru = 'locale_class_na' %>
              <% else %>
                <% locale_class_eng = 'locale_class_na' %>
                <% locale_class_ru = '' %>
              <% end %>

              <li><%= link_to image_pack_tag("rus.jpg", alt: 'rus',  class: "btn flag_position #{locale_class_ru}"), controller: controller_name, action: action_name, locale: "ru", title: 'Переключиться на русский' %></li>

              <li><%= link_to image_pack_tag("eng.jpg", alt: 'eng',  class: "btn flag_position #{locale_class_eng}"), controller: controller_name, action: action_name, locale: "en", title: 'Switch to english' %></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

    <a id="menu_pic" href="#">
      <%= image_pack_tag("menu-4x.png", alt: 'menu', class: 'menu_img') %>
    </a>

    <a href="#">
      <%= image_pack_tag("close2.png", alt: 'menu', class: 'menu_close_img') %>
    </a>
  
    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="dackbottomicons dackbottomicons-range">
        <div class="text-center buffer-bottom">
          <p>&copy; Dack9  <%= Time.now.year %></p>
          <%= link_to image_pack_tag("vk.png", alt: 'vk'), "https://vk.com/dack9", target: "blanc", rel: "noreferrer", title: "VK" %>
          <%= link_to image_pack_tag("telegram.png", alt: 'telegram'), "https://t.me/Dack99", target: "blanc", rel: "noreferrer", title: "Telegram" %>
          <%= link_to image_pack_tag("instagram.png", alt: 'instagram'), "https://www.instagram.com/dack9/", target: "blanc", rel: "noreferrer", title: "Instagram" %>
        </div>
      </div>
    </footer>
  </body>
</html>

<script>
  function getLastDayOfMonth() {
    let currentDate = new Date();
    let lastDayDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0, 23, 59, 59);

    return lastDayDate;
  };

  function getUid() {
    let s = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    let out = Array(8).join().split(',').map(function() { return s.charAt(Math.floor(Math.random() * s.length)); }).join('');

    return out;
  };

  function deleteAllCookies() {
    if (localStorage.getItem('_rs_uniq_exp')) {
      let uniq_exp_date = localStorage.getItem('_rs_uniq_exp');

      if (Date.parse(uniq_exp_date) <= new Date()) {
        localStorage.removeItem('_rs_uniq_exp');
      };
    }
  };

  function getData() {
    let visitor;
    let visitor_data;
    let uid;

    if (!localStorage.getItem('_rs_visitor')) {
      $.ajax({dataType: "json", async: false, url: "http://ip-api.com/json", success: (function(data) { 
          if(data.status == "success") {
            InfObj = {
                      country: data.country, 
                      regionName: data.regionName, 
                      lat: data.lat, 
                      lon: data.lon, 
                      timezone: data.timezone
                     }

            visitor_data = sendData(InfObj);
          }

          visitor = { 'uniq_visitor': true }

          if (!localStorage.getItem('_rs_uniq_exp')) {
            localStorage.setItem('_rs_uniq_exp', getLastDayOfMonth());
          }

          if (!localStorage.getItem('_rs_visitor')) {
            uid = getUid();

            localStorage.setItem('_rs_visitor', uid);
          }

          if(visitor_data) {
            visitor_data['u_id'] = uid;
          }
          else {
            if(uid) {
              visitor_data = { 'u_id': uid };
            }
          }

          visitor['visitor_data'] = visitor_data;
      })});
    }
    else if (localStorage.getItem('_rs_visitor')) {
      let existed_uid = localStorage.getItem('_rs_visitor');

      visitor = { 'repeat_visitor': true };

      visitor['visitor_data'] = { 
        time_visited: new Date(), 
        page_name(){ return window.location.pathname }, 
        referrer(){ return document.referrer },
        u_id: existed_uid
      };
    }

    $.ajax({ url: '/get_data', data: { visitor: visitor }});
  };

  function sendData(InfObj) {
    let visitor_data;

    visitor_data = {
      time_visited: new Date(),
      page_name(){ return window.location.pathname },
      referrer(){ return document.referrer },
      browser_name(){ return navigator.appName },
      browser_platform(){ return navigator.platform },
      browser_language(){ return navigator.language },
      size_screen_w(){ return screen.width },
      size_screen_h(){ return screen.height },
      country: InfObj.country, 
      region_name: InfObj.regionName, 
      lat: InfObj.lat, 
      lon: InfObj.lon, 
      timezone: InfObj.timezone,
      // timezone:(new Date()).getTimezoneOffset()/60,
      // browserVersion1a(){ return navigator.appVersion },
    };

    return visitor_data;
  };

  $(function(){
    $("#menu_pic").click(function() {
      if ($("#collapseMenu").height() > 80) {
        $("#collapseMenu").slideToggle(500);
        $(".menu_close_img").slideDown(500);
        $('.menu_img').hide(500);
      }
     });

    $(".navbar").click(function() {
      if ($("#collapseMenu").height() > 80) {
        $("#collapseMenu").slideUp(500);
        $(".menu_close_img").slideUp(500);
        $('.menu_img').show(500);
      }
     });

    $(".menu_close_img").click(function() {
      if ($("#collapseMenu").height() > 80) {
        $("#collapseMenu").slideUp(500);
        $(".menu_close_img").slideUp(500);
        $('.menu_img').show(500);
      }
     });

    deleteAllCookies();

    getData();
  });
</script>