<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= t('app.tab') %></title>

    <meta name="robots" content="index, follow">
    <meta name="description" content="Персональный сайт Дмитрия Dack9 Архипова Dmitry Arkhipov personal website">
    <meta name="keywords" content="dack9, макрофотография, macro, macrophoto, photo, программист, ruby on rails, software engineer, web developer, ruby">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Дмитрий Архипов aka Dack9">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= favicon_pack_tag 'favicon.ico' %>

    <link href="/dack9_rss" rel="alternate" title="RSS feed" type="application/rss+xml">
  </head>

  <body class='<%= @dark_body %>'%>

    <div class="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light mobile_font_size">
        <a class="navbar-brand" href='<%= root_path %>' title='<%= t("views.home.announces.header") %>'>
<!-- Новогодняя шапка desktop -->
          <%#= image_pack_tag("ny.png", alt: 'Happy New Year!', class: 'new_year_cap', title: 'Happy New Year!') %>
          <%= image_pack_tag("logo.png", alt: 'logo', class: 'mt-0 logo') %>
          <span id='main' class='mobile_font_size logo_name_color_light'>
            <%= t('app.navbar.logo_name') %>
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a id='photos' class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <%= t('app.navbar.menu.drop_down.photos') %>
              </a>
              <div class="dropdown-menu mobile_font_size py-0">
                <% if current_user && current_user.admin? %>
                  <%= link_to t('app.navbar.menu.load_photo'), new_photo_path, class: 'dropdown-item bottom_line_blog' %>
                  <%=link_to t('app.navbar.menu.drop_down.all'), all_page_path, class: 'dropdown-item' %>
                  <%=link_to t('app.navbar.menu.drop_down.photohosting'), photohosting_page_path, class: 'dropdown-item' %>
                <% end %>
                <%= link_to t('app.navbar.menu.drop_down.recent'), photos_path, class: 'dropdown-item' %>
                <%= link_to t('app.navbar.menu.drop_down.macro'), macro_page_path, class: 'dropdown-item' %>
                <%= link_to t('app.navbar.menu.drop_down.landscape'), landscape_page_path, class: 'dropdown-item' %>
                <%= link_to t('app.navbar.menu.drop_down.portrait'), portrait_page_path, class: 'dropdown-item' %>
                <%= link_to t('app.navbar.menu.drop_down.drone'), drone_page_path, class: 'dropdown-item' %>
                <%= link_to t('app.navbar.menu.drop_down.collage'), collage_page_path, class: 'dropdown-item' %>
                <%= link_to t('app.navbar.menu.drop_down.other'), other_page_path, class: 'dropdown-item' %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to t('app.navbar.menu.blog'), articles_path, id: 'blog', class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to t('app.navbar.menu.map'), map_path, id: 'nav_map', class: "nav-link" %>
            </li>

            <li class="nav-item dropdown">
              <a id='about' class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                <%= t('app.navbar.menu.about') %>
              </a>
              <div class="dropdown-menu mobile_font_size">
                <%= link_to t('app.navbar.menu.common_info'), about_path(About&.first&.id), class: 'dropdown-item' %>
                <%= link_to t('app.navbar.menu.portfolio'), portfolio_path, class: 'dropdown-item', target: "blanc", rel: "noreferrer"  %>
                <%= link_to t('app.navbar.menu.cv_rus'), cv_rus_path, class: 'dropdown-item', target: "blanc", rel: "noreferrer" %>
                <%= link_to t('app.navbar.menu.cv_eng'), cv_eng_path, class: 'dropdown-item', target: "blanc", rel: "noreferrer" %>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to t('app.navbar.menu.feedback'), feedback_page_path, class: "nav-link", id: 'nav_feedback', title: t('app.navbar.menu.feedback') %>
            </li>

            <% if current_user && current_user.admin? %>
              <% badge_class, badge_quantity = new_uniq_visitors %>
              <% badge_inside_dropdwn = if badge_class == 'circle_badge_visible_ru' %>
                                          <% 'circle_badge_visible_ru_inside_dropdwn' %>
                                     <% elsif badge_class == 'circle_badge_visible_eng' %>
                                          <% 'circle_badge_visible_eng_inside_dropdwn' %>
                                     <% end %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id='nav_admin' href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                  <%= "#{ t('app.navbar.menu.admin_options') } <span class='#{ badge_class }'>#{badge_quantity}</span>".html_safe %>
                </a>
                <div class="dropdown-menu mobile_font_size">
                  <% show_badge = if badge_inside_dropdwn.present? %>
                                 <% "<span class='#{ badge_inside_dropdwn }'>#{ badge_quantity }</span>" %>
                               <% else %>
                                 <% nil %>
                               <% end %>
                  <%= link_to "#{t('app.navbar.menu.visitors')} #{show_badge}".html_safe, show_visitors_info_path, class: 'dropdown-item' %>
                  <%= link_to t('app.navbar.menu.visits'), show_visits_path, class: 'dropdown-item' %>
                  <%= link_to t('app.navbar.menu.chatbot'), chat_bot_topics_path, class: 'dropdown-item' %>
<%= link_to 'test', test_path, class: 'dropdown-item' %>
                  <%= link_to t('app.navbar.menu.exit'), destroy_user_session_path, :method => :delete, class: 'dropdown-item' %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to image_pack_tag("entrance.png", alt: 'entrance', class: 'entrance_img'), new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
            <li class="nav-item">
              <%= link_to image_pack_tag("feed.png", alt: 'feed', class: 'feed_img'), dack9_rss_path, class: 'nav-link', title: t('app.navbar.menu.rss_subscribe') %>
            </li>
            <li class="nav-item">
              <% if params[:locale] == 'ru' || params[:locale] == nil %>
                <% locale_class_eng = '' %>
                <% locale_class_ru = 'locale_class_na' %>
              <% else %>
                <% locale_class_eng = 'locale_class_na' %>
                <% locale_class_ru = '' %>
              <% end %>

              <%= link_to 'Рус', { controller: controller_name, action: action_name, locale: "ru" }, { class: "nav-link pr-3 language_sw_text #{ locale_class_ru }", title: 'Switch to English' } %>
              <%= link_to 'Eng', { controller: controller_name, action: action_name, locale: "en" }, { class: "nav-link pr-3 language_sw_text #{ locale_class_eng }", title: 'Переключиться на русский' } %>
            </li>
          </ul>
          <%= form_tag searching_path, class: "form", type: "search", method: :get do %>
            <%= text_field_tag :q, params[:q], placeholder: t('app.navbar.menu.search_placeholder'), class: 'form-control searching_form' %>
          <% end %>
        </div>
      </nav>

      <div class="d-block d-lg-none badge_mobile">
        <% badge_class_mobile = if badge_class == 'circle_badge_visible_ru' || badge_class == 'circle_badge_visible_eng' %>
          <% 'badge_class_mobile' %>
        <% else %>
          <% 'circle_badge_no' %>
        <% end %>
        <div class='<%= badge_class_mobile %>'><%= badge_quantity %></div>
<!-- Новогодняя шапка mobile -->
        <%#= image_pack_tag('ny.png', alt: 'Happy New Year!', class: 'new_year_cap_mobile', title: 'Happy New Year!') %>
      </div>

      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>" role="alert">
          <%= value %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= render 'layouts/chatbot' %>

      <%= yield %>

      <div id='showReturnBtn'>
        <img class='back_to_top_img' id='scrollToTop' src='/images/pictograms/back_to_top.png' alt='bubble to top button'>
      </div>
    </div>

    <footer class="footer bg-light mt-4">
      <div class='buffer-bottom center pt-2'>
        <% if params[:locale] == 'ru' || params[:locale] == nil %>
          <%= link_to "Dack9 #{ Time.now.year }", cv_rus_path, class: "copyright", target: "blanc", rel: "noreferrer" %>
        <% else %>
          <%= link_to "Dack9 #{ Time.now.year }", cv_eng_path, class: "copyright", target: "blanc", rel: "noreferrer" %>
        <% end %>
      </div>
    </footer>
  </body>
</html>

<script>
  function getLastDayOfMonth() {
    let currentDate = new Date();
    let lastDayDate = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0, 23, 59, 59);

    return lastDayDate;
  };

  function getUid() {
    let s = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
    let out = Array(8).join().split(',').map(function() { return s.charAt(Math.floor(Math.random() * s.length)); }).join('');

    return out;
  };

  function deleteAllCookies() {
    if (localStorage.getItem('_rs_uniq_exp')) {
      let uniq_exp_date = localStorage.getItem('_rs_uniq_exp');

      if (Date.parse(uniq_exp_date) <= new Date()) {
        localStorage.removeItem('_rs_uniq_exp');
      };
    }
  };

  function requestData(callback) {
    // $.ajax({dataType: "json", url: "https://api.db-ip.com/v2/free/self", success: 
    //   function(data) {
    //     InfObj = {
    //               country: data.countryName, 
    //               region: data.stateProv, 
    //               city: data.city
    //              };

    //     callback(InfObj);
    //   },
    //   error: function (jqXHR, textStatus, errorThrown) { 
    //     InfObj = {};

    //     callback(InfObj);
    //   }
    // });

    let InfObj = {};

    <% if request.remote_ip %>
      <% result = GeocodingService.call(ip: request.remote_ip) %>

      <% if result[:country] && result[:region] && result[:city] %>
        InfObj = {
                  country: '<%= result[:country][:name_ru] %>', 
                  region: '<%= result[:region][:name_ru] %>', 
                  city: '<%= result[:city][:name_ru] %>'
        };
      <% end %>
    <% end %>

    return InfObj;
  };

  function processResponse(InfObj) {
    let visitor;

    if (!localStorage.getItem('_rs_visitor')) {
      if (!localStorage.getItem('_rs_uniq_exp')) {
        localStorage.setItem('_rs_uniq_exp', getLastDayOfMonth());
      }

      let uid = getUid();

      localStorage.setItem('_rs_visitor', uid);

      visitor = { 'uniq_visitor': true };

      visitor['visitor_data'] = shapeData(InfObj, true);

      visitor['visitor_data']['u_id'] = uid;
    }
    else if (localStorage.getItem('_rs_visitor')) {
      let existed_uid = localStorage.getItem('_rs_visitor');

      visitor = { 'repeat_visitor': true };

      visitor['visitor_data'] = shapeData(false, false);
      visitor['visitor_data']['u_id'] = existed_uid;
    }

    // Не отправлять информацию по ботам
    if (!(visitor['visitor_data']['common_info'] && visitor['visitor_data']['common_info'].match(/bot|Bot|meta/))) {
      $.ajax({ url: '/get_data', data: { visitor: visitor }});
    }
  };

  function shapeData(InfObj, full_info) {
    let visitor_data = {
      time_visited: new Date(),
      page_name: window.location.pathname,
      referrer: document.referrer,
    };

    if (full_info) {
      let common_info = navigator.userAgent;
      if (common_info.match(/^Mozilla\/5\.0\s/g)) {
        common_info = common_info.replace(/^Mozilla\/5\.0\s/g, '')
      };

      let timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
      if (timezone.match(/Europe\//g)) {
        timezone = timezone.replace(/Europe\//g, '')
      };

      visitor_data['timezone']         = timezone;
      visitor_data['common_info']      = common_info;
      visitor_data['platform']         = navigator.platform;
      visitor_data['os']               = navigator.oscpu;
      visitor_data['browser_language'] = navigator.language;
      visitor_data['size_screen_w']    = screen.width;
      visitor_data['size_screen_h']    = screen.height;
    };

    if (InfObj) {
      visitor_data['country'] = InfObj.country;
      visitor_data['region']  = InfObj.region;
      visitor_data['city']    = InfObj.city;
    };

    return visitor_data;
  };

  $(function(){
    $(window).scroll(function() {
      if ($(this).scrollTop() > 0) {
        $('#showReturnBtn').fadeIn(200);
      }
      else {
        $('#showReturnBtn').fadeOut(200);
      }
    });

    $('#scrollToTop').click(function () {
      $('html, body').animate({ scrollTop: $('html, body').offset().top - 100 }, 300);

      return false;
    });

    deleteAllCookies();

    // requestData(processResponse);
    let result = requestData();

    processResponse(result);

    <% case @nav_menu_active_item %>
    <% when 'main' %>
        <%= '$("#main").addClass("logo_name_color_dark");'.html_safe %>
    <% when 'photos' %>
        <%= '$("#photos").addClass("active");'.html_safe %>
    <% when 'blog' %>
        <%= '$("#blog").addClass("active");'.html_safe %>
    <% when 'nav_map' %>
        <%= '$("#nav_map").addClass("active");'.html_safe %>
    <% when 'about' %>
        <%= '$("#about").addClass("active");'.html_safe %>
    <% when 'nav_feedback' %>
        <%= '$("#nav_feedback").addClass("active");'.html_safe %>
    <% when 'nav_admin' %>
        <%= '$("#nav_admin").addClass("active");'.html_safe %>
    <% end %>
  });

  // // Happy New Year
  // // Настройки
  // var snowCount = 15;
  // var snowColor = new Array("#b9dff4", "#b9dff5", "#b9dff6", "#b9dff7", "#ffffff");
  // var snowType = new Array("Times");
  // var snowletter = "*"
  // var sinkSpeed = 0.5;
  // var snowSizeMin = 10;
  // var snowSizeMax = 40;
  // var snowLocation = 3; // 1 - по всему экрану, 2 - слева, 3 - по центру, 4 - справа

  // // Элементы для работы скрипта (здесь не стоит ничего менять)
  // var snow = new Array();
  // var marginbottom;
  // var marginright;
  // var timer;
  // var i_snow = 0;
  // var x_mv = new Array();
  // var crds = new Array();
  // var lftrght = new Array();
  // var browserinfos = navigator.userAgent;
  // var ie5 = document.all && document.getElementById && !browserinfos.match(/Opera/);
  // var ns6 = document.getElementById && !document.all;
  // var opera = browserinfos.match(/Opera/);
  // var browserok = ie5 || ns6 || opera;

  // function RandomMaker(range){
  //   return Math.floor(range * Math.random());
  // }

  // function InitSnow(){
  //   if (ie5 || opera){
  //      marginbottom = document.body.scrollHeight;
  //      marginright = document.body.clientWidth - 15;
  //   }else if (ns6){
  //      marginbottom = document.body.scrollHeight;
  //      marginright = window.innerWidth - 15;
  //   }
  //   var snowsizerange = snowSizeMax - snowSizeMin;
  //   for (i = 0; i <= snowCount; i++){
  //      crds[i] = 0;
  //      lftrght[i] = Math.random() * 15;
  //      x_mv[i] = 0.03 + Math.random() / 10;
  //      snow[i] = document.getElementById("s" + i);
  //      snow[i].style.fontFamily = snowType[RandomMaker(snowType.length)];
  //      snow[i].size = RandomMaker(snowsizerange) + snowSizeMin;
  //      snow[i].style.fontSize = snow[i].size + "px";
  //      snow[i].style.color = snowColor[RandomMaker(snowColor.length)];
  //      snow[i].style.zIndex = 1000;
  //      snow[i].sink=sinkSpeed * snow[i].size / 5;
  //      if (snowLocation == 1){
  //          snow[i].posx = RandomMaker(marginright - snow[i].size);
  //      }
  //      if (snowLocation == 2){
  //      snow[i].posx = RandomMaker(marginright / 2 - snow[i].size);
  //      }
  //      if (snowLocation == 3){
  //      snow[i].posx = RandomMaker(marginright / 2 - snow[i].size) + marginright / 4
  //      }
  //      if (snowLocation == 4){
  //      snow[i].posx = RandomMaker(marginright / 2 - snow[i].size) + marginright / 2
  //      }
  //      snow[i].posy = RandomMaker(2 * marginbottom - marginbottom - 2 * snow[i].size);
  //      snow[i].style.left = snow[i].posx + "px";
  //      snow[i].style.top = snow[i].posy + "px";
  //   }
  //   MoveSnow();
  // }

  // function MoveSnow(){
  //   for (i = 0; i <= snowCount; i++){
  //      crds[i] += x_mv[i];
  //      snow[i].posy += snow[i].sink;
  //      snow[i].style.left = snow[i].posx + lftrght[i] * Math.sin(crds[i]) + "px";
  //      snow[i].style.top = snow[i].posy + "px";
  //      if (snow[i].posy >= marginbottom - 2 * snow[i].size ||
  //          parseInt(snow[i].style.left) > (marginright - 3 * lftrght[i])){
  //          if (snowLocation == 1){
  //              snow[i].posx = RandomMaker(marginright - snow[i].size)
  //          }
  //          if (snowLocation == 2){
  //              snow[i].posx = RandomMaker(marginright / 2 - snow[i].size)
  //          }
  //          if (snowLocation == 3){
  //              snow[i].posx = RandomMaker(marginright / 2 - snow[i].size) + marginright / 4
  //          }
  //          if (snowLocation == 4){
  //              snow[i].posx = RandomMaker(marginright / 2 - snow[i].size) + marginright / 2
  //          }
  //          snow[i].posy = 0;
  //        }
  //     }
  //     var timer = setTimeout("MoveSnow()", 50);
  // }

  // for (i = 0; i <= snowCount; i++){
  //    document.write("<span id='s" + i + "' style='position:absolute;top:-" + snowSizeMax +
  //        "'>" + snowletter + "</span>");
  // }

  // if (browserok){
  //    window.onload = InitSnow;
  // }
</script>
