<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Фотограф Дмитрий Dack9 Архипов</title>
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon"> -->
    <%= favicon_link_tag %>

    <meta name="robots" content="index, follow">
    <meta name="description" content="Персональный сайт фотографа Дмитрия Dack9 Архипова. Сотрудничество: фотосессии и фотосъемка (макро, предметная)">
    <meta name="keywords" content="dack9, фотограф, макрофотография, фотосессия, macro, macrophoto">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Дмитрий Архипов aka Dack9">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" integrity="sha512-YibiFIKqwi6sZFfPm5HNHQYemJwFbyyYHjrr3UT+VobMt/YBo1kBxgui5RWc4C3B4RJMYCdCAJkbXHt+irKfSA==" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" integrity="sha512-Velp0ebMKjcd9RiCoaHhLXkR1sFoCCWXNp6w4zj1hfMifYB5441C+sKeBl/T/Ka6NjBiRfBBQRaQq65ekYz3UQ==" crossorigin="anonymous" />
  </head>

  <body id="up">
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">

        <div class="navbar navbar-responsive">
          <%= image_pack_tag("logo.png", alt: 'logo', class: 'mt-0 logo') %>
          <ul class="navbar-nav">
            <%= link_to "Дмитрий Архипов", root_path, class: 'btn', title: "На главную" %>
           </ul>
        </div>

        <div class="navbar navbar-responsive">
          <ul class="navbar-nav">

            <li class="dropdown">
              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">Фотографии</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% if user_signed_in? %>
                  <%=link_to "Все", all_page_path, class: "dropdown-item" %>
                <% end %>
                <%=link_to "Недавние", root_path, class: "dropdown-item" %>
                <%=link_to "Макро", macro_page_path, class: "dropdown-item" %>
                <%=link_to "Пейзажи", landscape_page_path, class: "dropdown-item" %>
                <%=link_to "Портреты", portrait_page_path, class: "dropdown-item" %>
                <%=link_to "С квадрокоптера", drone_page_path, class: "dropdown-item" %>
                <%=link_to "Коллажи", collage_page_path, class: "dropdown-item" %>
                <%=link_to "Остальное", other_page_path, class: "dropdown-item" %>
              </div>
            </li>
            <%=link_to "Блог", articles_path, class: "btn" %>
            <%=link_to "Обо мне", about_page_path, class: "btn" %>
            <%=link_to "Обратная связь", feedback_page_path, class: "btn" %>

            <% if user_signed_in? %>
              <li><%=link_to "Загрузить", new_photo_path, class: "btn" %></li>
              <li><%=link_to "Профиль", current_user, class: "btn" %></li>
              <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete, class: "btn" %></li>
            <% else %>
              <%=link_to "Для админа", new_user_session_path, class: "btn" %>
            <% end %>

            <%= link_to image_pack_tag("eng.jpg", alt: 'eng'), '#', title: "ENG version", class: 'mt-1' %>
          </ul>
        </div>
      </div>
    </div>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>

    <%= yield %>

    <footer>
      <div class="dackbottomicons dackbottomicons-range">
        <div class="text-center buffer-bottom">
          <p>&copy; Dack9  <%= Time.now.year %></p>
          <%= link_to image_pack_tag("vk.png", alt: 'vk'), "https://vk.com/dack9", target: "blanc", rel: "noreferrer", title: "VK" %>
          <%= link_to image_pack_tag("telegram.png", alt: 'telegram'), "https://t.me/Dack99", target: "blanc", rel: "noreferrer", title: "Telegram" %>
          <%= link_to image_pack_tag("instagram.png", alt: 'instagram'), "https://www.instagram.com/dack9/", target: "blanc", rel: "noreferrer", title: "Instagram" %>
        </div>
      </div>
    </footer>
  </body>
</html>
